.header {
  height: 95vh; /* the height of this element should be 95% of the viewport height  */
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg); /* using the background-image to specify the background gradient from left top to right bottom from #7ed56f to #28b485*/
  background-size: cover;
  /* whatever the viewport or the element, it'll always try to fit  */
  background-position: top; /* the top of the image stay the same as the browser size changes */

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* cut the image a wedge clockwisely from the top left corner(0,0) to top right corner(100%, 0) to the third bottom right corner(100%,200px) to the final bottom left corner(0, 100%)*/

  position: relative;
  /* the reference of the logo-box position count  */

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }
  &__text-box {
    position: absolute;
    top: 40%; /* it move the most top side of the element 40% of the height of the parent element, which is in relation to the parent element */
    left: 50%; /* it move the most left side of the element 50% of the width of the parent element, which is in relation to the parent element */
    transform: translate(
      -50%,
      -50%
    ); /* shift 50% 0f the element's width and height to the left and top in relation of the element itself instead of the parent element*/
    text-align: center;
    /* center the child element which is an inline-block to center  */
  }
}
